.menu{
    display:block;
}
.menu li{
    display: inline-block;
    position: relative;
    z-index:100;
}
.menu li a {
    font-weight:600;
    text-decoration:none;
    padding:11px;
    display:block;
    color:#212529;

    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.menu li a:hover,
.menu li:hover > a{
    color:#ffffff; /* цвет ссылки */
    background:#212529; /* задний фон ссылки */
}
/* скрываем меню второго уровеня */
.menu ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 43px;
    left: 0px;
    background: #2F4F4F;
}
/* показываем меню второго уровня при наведении */
.menu li:hover > ul{
    display: block;
}
.menu ul li {
    display:block;
    float: none;
    background:none;
    margin:0;
    padding:0;
}
.menu ul li a {
    width: 300px;
    font-size:16px;
    font-weight:bold;
    display:block;
    color:#ffffff;
    border:3px solid #7B68EE; /* цвет бортика раскрывающегося меню */
    background:#212529; /* задний фон раскрывающегося меню */

}
.menu ul li a:hover,
.menu ul li:hover > a{
    background:#f0f0f0; /* цвет фона при наведении мышью */
    border-left:3px solid #9CA3DA; /* цвет бортика при наведении мышью */
    color:#797979; /* цвет ссылки при наведении мышью */
}
/* Изменение позиций для меню третьего уровня */
.menu ul ul {
    left: 300px;
    top: 0px;
}
